
@{
    ViewBag.Title = "Documentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.DescripcionHijo
    </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> @ViewBag.DescripcionPadre</a></li>
        <li class="active">@ViewBag.DescripcionHijo</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title" id="lblEmpresa"></h3>
            <div class="pull-right box-tools">
                <a id="btnActualizar" class="btn btn-primary"><i class="fa fa-refresh"></i>  Actualizar</a>
            </div>
        </div>
        <div class="box-body">
            <input type="hidden" value="0" id="txtIdDocumentoPadre" />
            <div class="table-responsive" style="min-height:calc(100vh - 250px);">
                <table id="gridDocumentos" class="table table-hover dt-responsive nowrap " style="width:100%">
                    <thead>
                        <tr>
                            <th style="width:55%">Nombre</th>
                            <th style="width:15%">Fecha creación</th>
                            <th style="width:15%">Fecha modificación</th>
                            <th style="width:05%">Tamaño</th>
                            <th style="width:10%">Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>


@section scripts{

    <script>
        var urlGetEmpresaByUsuario = '@Url.Action("GetEmpresaByUsuario", "Mantenimiento")';
        var urlListDocumentoPaginado = '@Url.Action("ListDocumentoUsuarioPaginado", "Mantenimiento")';      
        var urlDownloadDocumento = '@Url.Action("DownloadDocumentoUsuario", "Mantenimiento")';
        var urlDownloadCarpeta = '@Url.Action("DownloadCarpetaUsuario", "Mantenimiento")';
    </script>

    <script src="~/js/pages/Mantenimiento/DocumentoUsuario.min.js?v=@ViewBag.NumeroRelease"></script>
}

