
@{
    ViewBag.Title = "Mensajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1 style="text-transform: uppercase;">
        @ViewBag.DescripcionHijo
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @ViewBag.DescripcionPadre</a></li>
        <li class="active">@ViewBag.DescripcionHijo</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 text-right">
                    <div class="form-group">
                        <a id="btnAgregarFoto" class="btn btn-primary"><i class="fa fa-plus-circle"></i>  Agregar</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive" style="min-height:calc(100vh - 250px);">
                <table id="gridGaleria" class="table table-bordered table-striped dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre imagen</th>
                            <th>Estado</th>
                            <th>Imagen</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalGaleria">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Agregar</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Descripción:</label>
                            <input type="text" class="form-control" id="txtDescripcion" autocomplete="off" maxlength="150">
                            <span class="help-block hide">Este campo es obligatorio</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Imagen (Max 1Mb)</label>
                            <input type="file" class="filestyle" id="fileFoto" accept="image/*" data-buttonname="btn-default">
                            <span class="help-block hide">Este campo es obligatorio</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                <button type="button" id="btnGuardarFoto" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalVerImagen">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Foto</h4>
            </div>
            <div class="modal-body text-center">
                <img src="" id="viewFoto" alt="" style="max-width:100%;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var urlListGaleria = '@Url.Action("ListGaleria", "Mantenimiento")';
        var urlSaveGaleria = '@Url.Action("SaveGaleria", "Mantenimiento")';
        var urlDeleteGaleria = '@Url.Action("DeleteGaleria", "Mantenimiento")';
        var urlUpdateActivoGaleria = '@Url.Action("UpdateActivoGaleria", "Mantenimiento")';

        var urlCarpetaGaleria = '@ViewBag.rutaGaleria';

    </script>
    <script src="~/js/pages/Mantenimiento/Galeria.min.js?v=@ViewBag.NumeroRelease"></script>
}